
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display&family=Playfair+Display+SC&family=Roboto:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Playfair+Display+SC&family=Roboto:ital,wght@1,300&display=swap');
/* font-family: 'Dancing Script', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Playfair Display SC', serif;
font-family: 'Roboto', sans-serif; */

/* section1 */

.r1{
    background-color: rgb(42, 124, 206);
    position: relative;
}
.i1{
    width: 20px;
}
a.a1{
    color:white;
    text-decoration: none;
}

/* section2 */
 
a.l1{
    margin-left: 100px;
    border-radius: 20px;
    color: black;
}
a.l1:hover{
    background-color: rgb(42, 124, 206);
    color: white;
}
a.l2{
    border-radius: 20px;
    color: black;
}
a.l2:hover{
    background-color: rgb(42, 124, 206);
    color: white;
}
a.l3{
    border-radius: 20px;
    background-color:  rgb(111, 157, 202);
    color: white;
}
a.l3:hover{
    background-color: rgb(42, 124, 206);
    color: white;
}
.logo{
    left: 0;
    top: 0;
    z-index: 1;
    position:absolute;
}

/* section3 */

.c3{
    background-image: url(../images/bg1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 650px;
    overflow: hidden;
} 
.d1{
    color:white;
    font-size: 50px;
    text-align: center;
    padding-top: 250px;
    font-family: 'Dancing Script', cursive;
}

/* section4 */

.c4{
    text-align: center;
    font-family: 'Playfair Display', serif
}

/* section5 */

.c5{
    border: 1px solid rgb(107, 191, 219);
}
.i3{
    width:40px ;
    border: 1px solid rgb(5, 173, 230);
    padding:7px;
    border-radius: 3px;
}
.d3{
    margin-left: 118px;
}
.c6{ 
    border-right: 1px solid rgb(130, 180, 196);
    background-color:rgb(176, 225, 241);
}
/* .r5{
    border-left: 1px solid rgb(5, 173, 230);
} */

/* section6 */
.r4{
    background-color: rgb(42, 124, 206);
    padding: 10px;
    margin-top: 50px;
}
.c7{
    border-left:1px solid white;
    border-right: 1px solid white;
    line-height: 70px;
}
.c8{
    border-right: 1px solid white;
    line-height: 70px;
}
.i4{
    margin-left: 30px;
}

/* section7 */

.d5{
    background-color: rgb(192, 220, 248);
}
.c9{
    font-family: 'Playfair Display', serif;
}
.cone{
    text-align: justify;
    font-size: 17px;
}
a.l4{
    border: 2px solid rgb(5, 173, 230);
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    color: rgb(5, 173, 230) ;
}
a.l4:hover{
    background-color: rgb(5, 173, 230);
    color: white;
}
.i5{
     height: 500px;
     border-radius: 5px;
}

/* section9 */

.i6{
    width: 15px;
}
