@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display&family=Playfair+Display+SC&family=Roboto:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Playfair+Display+SC&family=Roboto:ital,wght@1,300&display=swap');

.cn{
    background-color: rgb(42, 124, 206);
    position: relative;
}
.im{
    width: 20px;
}