
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

.c1{
    background-color: rgb(5, 173, 230);
}
.i1{
    width: 20px;
}
.c3{
    background-image: url(../images/bg1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 600px;

} 
a.a1{
    color: rgb(61, 59, 59);
}
.d1{
    color:white;
    font-size: 50px;
    text-align: center;
    padding-top: 150px;
    font-family: 'Roboto', sans-serif;
}
.c4{
    color:black;
    font-size: 50px;
    text-align: center;
}
