.c1{
    background-color: deepskyblue;
}
.i1{
    width: 20px;
}
.c3{
    background-image: url(../images/bg1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 600px;
} 
a.a1{
    color: rgb(61, 59, 59);
}
.d1{
    color:white;
    font-size: 50px;
    text-align: center;
    padding-top: 150px;
    font-family: 'Roboto', sans-serif !important;;
}
